body {
	width:100%;
	height:100%;
	font-family: Arial Narrow, sans-serif;
	font-size: 14px;
	background-color: #000;
}

a {
	font-family: Arial Narrow, sans-serif;
	font-size: 18px;	
	text-decoration: none;
	color: #ff6f42;
}

a:hover{
	color: #fff;
}

#header {
	width: 100%;
	height: 150px;
	padding: 20px;
	background-color: #607d8b;
	box-sizing: border-box;
}

h1 {
	text-align: left;
	font-size: 80px;
	margin-bottom: 0px;
	letter-spacing: 5px;
	display: inline-block;
}

h4 {
	margin-bottom: 0px;
}

#headshot {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	float: left;
	margin-right: 10px;
	margin-bottom: 0px;
}

#nycda {
	height: 125px;
	width: 125px;
	float: left;
	margin-right: 30px;
}

#previous_details {
	clear: left;
}

#nav {
	float: right;
	margin-top: 120px;
	font-size: 18px;
	display: inline-block;
	clear: left;
}

#stripe {
	width: 100%;
	height: 10px;
	background-color: #ff5722;
}

#content_wrapper {
	display: inline;
	width: 100%;
}

#content_left{
	float:left;
	width: 10%;
	height: 600px;
	text-color: #000;
	align: 50%;
	background-color: #9e9e9e;
	padding: 0px 5px;
	box-sizing: border-box;
	font-family: Arial Narrow, sans-serif;
	font-size: 18px;	
	
}

#content_right {
	float:left;
	display:inline;
	width: 90%;
	height: 600px;
	background-color: #c7c7c7;
	padding: 0px 10px;
	box-sizing: border-box;
}

.home {
	background-image: url("http://www.nycda.com/wp-content/uploads/2015/08/image04.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right 0px bottom 0px;
}

#contact {
	margin-left: 50px;
}